* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
    font-family: "vazir";
    src: url("fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff2"),
        url("fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff"),
        url("fonts/vazir/Vazir-Medium-FD-WOL.ttf") format("truetype");
}

body {
    font-family: "vazir";
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.section {
    width: 90vw;
    margin: 0 auto;
    margin-top: 1rem;
    overflow: auto;
}

.input {
    direction: ltr;
    border: none;
    width: 100%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    height: 10vh;
    padding: 0.5rem;
    resize: none;
}

.info-calculator {
    text-align: center;
    transition: all 1s linear;
}

.body-calculator {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(5 , 70px);
    gap: 0.3rem;
    font-family: "vazir";
    transition: all 0.3s linear;
}

.body-calculator-p {
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(6 , 70px);
}

.dis-btn {
    display: none;
}

.btn {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: gray;
}

.btn-1 {
    order: 3;
    background-color: aliceblue;
}
.btn-2 {
    order: 2;
    background-color: aliceblue;
}
.btn-3 {
    order: 0;
    background-color: seashell;
}
.btn-4 {
    order: 8;
    background-color: ghostwhite;
}
.btn-5 {
    order: 7;
    background-color: ghostwhite;
}
.btn-6 {
    order: 6;
    background-color: ghostwhite;
}
.btn-7 {
    order: 13;
    background-color: ghostwhite;
}
.btn-8 {
    order: 12;
    background-color: ghostwhite;
}
.btn-9 {
    order: 11;
    background-color: ghostwhite;
}
.btn-10 {
    order: 17;
    background-color: ghostwhite;
}
.btn-11 {
    order: 16;
    background-color: ghostwhite;
}
.btn-12 {
    order: 15;
    background-color: ghostwhite;
}
.btn-13 {
    order: 5;
    background-color: seashell;
}
.btn-14 {
    order: 10;
    background-color: seashell;
}
.btn-15 {
    order: 14;
    background-color: seashell;
}
.btn-16 {
    order: 19;
    background-color: beige	;
}
.btn-17 {
    order: 20;
    background-color: honeydew;
}
.btn-18 {
    order: 21;
    background-color: ghostwhite;
}
.btn-19 {
    order: 1;
    background-color: aliceblue;
}
.btn-20 {
    order: 22;
    background-color: ghostwhite;
}
.btn-21 {
    order: -5;
    background-color: ghostwhite;
}
.btn-22 {
    order: -4;
    background-color: ghostwhite;
}
.btn-23 {
    order: -3;
    background-color: seashell;
}
.btn-24 {
    order: -2;
    background-color: seashell;
}
.btn-25 {
    order: -1;
    background-color: seashell;
}
.btn-26 {
    order: 4;
    background-color: beige	;
}
.btn-27 {
    order: 9;
    background-color: honeydew;
}
.btn-28 {
    order: 13;
    background-color: ghostwhite;
}
.btn-29 {
    order: 18;
    background-color: aliceblue;
}
.btn-30 {
    order: 23;
    background-color: ghostwhite;
}

@media screen and (min-width : 576px) {
    .section {
        width: 430px;
        background-color: rgb(252, 252, 252);
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    }

    .info-calculator {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}