.scroll-up{
    position: fixed;
    background-color: var(--primary-color);
    right: 2rem;
    bottom: 1.75rem;
    padding: 0.5rem;
    opacity: 0.8;
    border-radius: 0.5rem;
    color: black;
    transition: all 0.5s linear;

    &:hover {
        opacity: 1;
    }
}

body.dark-theme {
    --primary-color-light: hsl(var(--hue), var(--sat), 75%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 80%);
    --body-color: hsl(var(--hue), 8%, 13%);
    --container-color: hsl(var(--hue), 8%, 16%);
}

.change-theme {
    position: absolute;
    right: 1.5rem;
    top: 2.1rem;
    color: var(--text-color);
    font-size: 1.7rem;
    margin-right: 2rem;
    cursor: pointer;
}

.dark-theme .footer {
    background-color: var(--container-color);
}
